.features {
    margin-bottom: 100px;
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        @include tablet-landscape {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__item {
        text-align: center;
        @include tablet-landscape {
            text-align: left;
        }
    }
    &__title {
        @extend %title;
        color: #0B132A;
    }
    &__text {
        @extend %text;
    }
    &__btn {
        @extend %btn;
        @extend %btn-huge;
        margin: 0 auto;
        margin-bottom: 20px;
        @include tablet-landscape {
            margin: 30px 0 0 0;
        }
    }
    &__image {
        width: 100%;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }
    &__line {
        @extend %text-small;
        padding-left: 32px;
        position: relative;
        margin: 20px 0;
    }
    &__line::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        display: inline-block;
        background: url(../images/ic-list-bg-green.svg)center no-repeat;
    }
    &__item--narrow {
        @include tablet-landscape {
        max-width: 383px;
        margin-left: 150px;
        }
    }
}