.map {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        @extend %title;
        text-align: center;
        max-width: 383px;
    }
    &__text {
        @extend %text;
        max-width: 555px;
        text-align: center;
        margin-bottom: 150px;
    }
    &__text--bold {
        font-weight: 500;
    }
    &__canvas {
        max-width: 1140px;
    }
    &__image {
        width: 100%;
    }
    &__grid {
        display: grid;
        grid-gap: 42px;
        grid-template-columns: 1fr;
        @include tablet-portrait {
            grid-template-columns: 1fr 1fr;
        }
        @include tablet-landscape {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include desctop {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
    &__items {
        @extend %flex-centre;
    }
    &__link--netflix {
        background: url(../images/ic-netflix.svg);
    }
    &__link--reddit {
        background: url(../images/ic-reddit.svg);
    }
    &__link--amazon {
        background: url(../images/ic-amazon.svg);
    }
    &__link--discord {
        background: url(../images/ic-discord.svg);
    }
    &__link--spotify {
        background: url(../images/ic-spotify.svg);
    }
    &__link--netflix:hover {
        background: url(../images/ic-netflix-hover.svg);
    }
    &__link--reddit:hover {
        background: url(../images/ic-reddit-hover.svg);
    }
    &__link--amazon:hover {
        background: url(../images/ic-amazon-hover.svg);
    }
    &__link--discord:hover {
        background: url(../images/ic-discord-hover.svg);
    }
    &__link--spotify:hover {
        background: url(../images/ic-spotify-hover.svg);
    }
    &__link {
        text-decoration: none;
        width: 190px;
        height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__link:hover {
        // text-decoration: none;
        // width: 190px;
        // height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__icons {}
}