@mixin circle($radius) {
    width: $radius;
    height: $radius;
    border-radius: 50%;
}

// MEDIA MIXINS
@mixin tablet-portrait() {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin tablet-unusual() {
    @media screen and (min-width: 850px) {
        @content;
    }
}

@mixin tablet-landscape() {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin desctop() {
    @media screen and (min-width: 1200px) {
        @content;
    }
}